.header {
  background-color: #64d0ae;
  display: flex;
  height: 6%;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.link {
  align-items: flex-end;
  color: white;
  font-size: 1.3em;
  font-family: Arial;
  text-decoration: none;
  transition: 1s;
}

.link:hover {
  cursor: pointer;
  letter-spacing: 3px;
  transition: 1s;
}
