<!--HEADER-->

<div class="header">
  <a routerLink="/accueil" class="link">Accueil</a>
  <a routerLink="/signalerincident" class="link">Signaler un incident</a>
  <a routerLink="/mesincidents" class="link">Mes incidents</a>
  <a routerLink="/profil" class="link">Mon profil</a>
  <a routerLink="/faq" class="link">FAQ</a>
  <a routerLink="/tuto" class="link">Help</a>
  <a routerLink="/inscription" class="link">Inscription</a>
  <a routerLink="/connexion" class="link">Connexion</a>

</div>
<router-outlet></router-outlet>
